<!DOCTYPE html>
<html>
  <head>
    <title>Coffee cafe</title>
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    <header class ="header p-3 position-absolute start-0 top-0 end-0">
      <div class="d-flex justify-content-between align-items-center">
        <a href= "/" class="text-decoration-none text-white fs-5" fw-bold>
          CoffeeCafe
        </a>
        <div>
          <button class ="navbar-toggler text-white" type ="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <nav id ="navbar" class ="collapse navbar-collapse dropdown-nav">
      <div class="dropdown-nav__container container-xxl d-flex align-items-start align-items-md-center">
        <div class ="row align-items-start">
          <div class ="col-12 col-sm-4 mt-4">
            <a href="#" class ="row text-decoration-none">
              <div class ="col-2 col-sm-12 mb-4">
                <img src="/static/coffee1.jpg" class ="img-fluid " alt="coffee" width="553" height="746" loading ="lazy">
              </div>
              <div class ="col-10">
                <h3>Amazing flavour</h3>
                <p>Find out more about our amazing flavour</p>
                <p>Learn more<span> </span><i class="bi bi-arrow-right-circle"></i></p>
              </div>
            </a>
          </div>
          <div class ="col-12 col-sm-4 mt-4">
            <a href="#" class ="row text-decoration-none">
              <div class ="col-2 col-sm-12 mb-4">
                <img src="/static/coffee1.jpg" class ="img-fluid " alt="coffee" width="553" height="746" loading ="lazy">
              </div>
              <div class ="col-10">
                <h3>Amazing flavour</h3>
                <p>Find out more about our amazing flavour</p>
                <p>Learn more<span> </span><i class="bi bi-arrow-right-circle"></i></p>
              </div>
            </a>
          </div>
          <div class ="col-12 col-sm-4 mt-4">
            <a href="#" class ="row text-decoration-none">
              <div class ="col-2 col-sm-12 mb-4">
                <img src="static/coffee1.jpg" class ="img-fluid " alt="coffee" width="553" height="746" loading ="lazy">
              </div>
              <div class ="col-10">
                <h3>Amazing flavour</h3>
                <p>Find out more about our amazing flavour</p>
                <p>Learn more<span> </span><i class="bi bi-arrow-right-circle"></i></p>
              </div>
            </a>
          </div>
       
        </div>
        <button class ="navbar-toggler  dropdown-nav__closeNavBtn" type ="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </button>
      </div>
    </nav>

    <section class ="hero">
      <div class ="hero__overlay">
        <video playsinline ="playsinline" autoplay ="autoplay" muted ="muted" loop ="loop" class ="hero__video" Loading="lazy">
          <source src="/static/coffee.mp4" type ="video/mp4"/>
        </video>
      </div>
      <div class ="hero__content container-custom h-100 position-relative"">
        <div class ="d-flex h-100 align-items-center hero__content-width">
          <div class ="text-white">
            <h1 class="hero__heading fw-bold mb-4">Discover the Taste of Real Coffee.</h1>
            <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            <a href="#" class ="mt-2 btn btn-lg btn-outline-light" role="button">Buy Now</a>
          </div>
          
        </div>
          
      </div>
      
       <a href="#scroll-down" class="hero__scroll-btn">
         Explore<span> </span><i class="bi bi-arrow-down-circle"></i>
       </a>
    </section>
    <a id="scroll-down"></a>
    <section class="steps container-custom">
      <div class ="row">
        <div class ="col-12 col-sm-6 d-md-flex justify-content-md-center ">
          <img src ="/static/coffee2.jpg" class ="img-fluid pb-4 steps__section-thumbnail" alt="coffee" width="553" height="746" Loading="lazy">
        </div>
        <div class ="col-12 col-sm-6 align-self-center justify-content-md-center ">
          <div class ="steps__content-width">
            <span  class="badge rounded-pill text-bg-dark fs-7">01</span>
            <h1 class="h2 mb-4 text-secondary fw-semibold">Amazing Coffee Flavour</h1>
            <p class ="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href ="#" >Read More<span> </span><i class="bi bi-arrow-right-circle"></i></a>
        </div>
      </div>
      </div>
    </section>
    <section class="steps steps--background container-custom">
      <div class ="container-custom">
        <div class ="row">
          <div class ="col-12 col-sm-6 d-md-flex justify-content-md-center order-sm-1 ">
            <img src ="/static/coffee2.jpg" class ="img-fluid pb-4 steps__section-thumbnail" alt="health_benefits" width="553" height="746" Loading="lazy">
          </div>
          <div class ="col-12 col-sm-6 align-self-center justify-content-md-center ">
            <div class ="steps__content-width">
              <span class="badge rounded-pill text-bg-dark fs-7">02</span>
              <h1 class="h2 mb-4 text-secondary fw-semibold">Health Benefits</h1>
              <p class ="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <a href ="#" >Read More<span> </span><i class="bi bi-arrow-right-circle"></i></a>
           </div>
         </div>
        </div>
      </div>
    </section>
    <section class="steps container-custom">
      <div class ="row">
        <div class ="col-12 col-sm-6 d-md-flex justify-content-md-center ">
          <img src ="/static/coffee2.jpg" class ="img-fluid pb-4 steps__section-thumbnail" alt="coffee" width="553" height="746" Loading="lazy">
        </div>
        <div class ="col-12 col-sm-6 align-self-center justify-content-md-center ">
          <div class ="steps__content-width">
            <span class="badge rounded-pill text-bg-dark fs-7">03</span>
            <h1 class="h2 mb-4 text-secondary fw-semibold">Essential Nutrients</h1>
            <p class ="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href ="#" >Read More<span> </span><i class="bi bi-arrow-right-circle"></i></a>
        </div>
      </div>
      </div>
    </section>
    <section class="bg-dark text-white py-4">
      <div class ="container-custom my-4">
        <div class="row">
          <div class ="col-12 col-sm-4 mb-4">
            <img src ="/static/coffee2.jpg" class ="img-fluid mb-4" alt="coffee" width="441" height="248" Loading="lazy">
            <h3 class ="mb-4">Amazing coffee</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class ="col-12 col-sm-4 mb-4">
            <img src ="/static/coffee2.jpg" class ="img-fluid mb-4" alt="coffee" width="441" height="248" Loading="lazy">
            <h3 class ="mb-4">Amazing coffee</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class ="col-12 col-sm-4 mb-4">
            <img src ="/static/coffee2.jpg" class ="img-fluid mb-4" alt="coffee" width="441" height="248" Loading="lazy">
            <h3 class ="mb-4">Amazing coffee</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </section>
    <footer class ="footer bg-dark text-white">
      <div class="container-custom d-flex justify-content-between align-items-center py-3 border-highlight">
        <div class="col-md-4 d-flex align-items-center">

          <a href="/" class ="me-2 text-muted ">
            <i class="bi bi-cup"></i>
            <span class =" text-secondary">&copy; 2024 CoffeeCafe</span>
          </a>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex text-white">
          <li class ="ms-3 "><a href ="#" class ="text-muted"><i class ="bi bi-twitter  text-secondary "></i></li>
           <li class ="ms-3"><a href ="#" class ="text-muted"><i class ="bi bi-instagram  text-secondary"></i></li>
           <li class ="ms-3"><a href ="#" class ="text-muted"><i class ="bi bi-facebook  text-secondary"></i></li>
          
        </ul>
        
      </div>
      
    </footer>
  </body>
</html>